.background {
    background-color: rgba(114, 114, 114, 0.499);
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 0,5;
    -o-transition: 0.5;
    -moz-transition: 0.5;
    -webkit-transition: 0.5;

}
.background:hover {
    background-color: yellow;
}
.background1 {
    background-color:rgba(114, 114, 114, 0.499);
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 0,5;
    -o-transition: 0.5;
    -moz-transition: 0.5;
    -webkit-transition: 0.5;
}
.background1:hover {
    background-color:yellow;
}
body {
    background:url('img/BG11.jpg')no-repeat;
}

